#wpbooklist-goodreads-area{
	text-align:center;
}

#wpbooklist-addgoodreads-success-div{
    font-size: 14px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-bottom: 60px;
}

#wpbooklist-create-page-post-goodreads-div{
	position: relative;
    top: 40px;
    margin-bottom: 45px;
}

#wpbooklist-jre-goodreads-create-page{
	margin-right: 20px;
}

#wpbooklist-create-woo-goodreads-div{
    margin-top: 60px;
}